apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.appName }}
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ .Values.appName }}
    role: backend
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: {{ .Values.appName }}
      tier: backend
  template:
    metadata:
      labels:
        app: {{ .Values.appName }}
        tier: backend
    spec: 
      volumes:
      - name: backend-migration-volume
        secret:
          secretName: backend-migration
      initContainers:
      - name: backend-migrate
        image: backend-image-migrations:lateast
        imagePullPolicy: Always
        args: ["migrate", "apply", "-c", "file:///etc/backend-db/test-devops.db", "--env", "{{ .Values.configmap.data.k8s }}"]
        k8s:
        - name: k8s-env 
          valueFrom:
            configMapKeyRef:
              name: {{ .Values.configmap.name }}
              key: k8s
        volumeMounts:
        - name: backend-migration-volume
          mountPath: "/etc/backend-db"
      containers:
      - name: mycontainer_backend
        image: {{ .Values.image.name }}:{{ .Values.image.tag }}
        ports:
        - containerPort: 80     
        envFrom:
        - configMapRef:
            name: {{ .Values.configmap.name }}
        volumes:
          - name: secret-volume
            secret:
              secretName: backend-secret        
        resources:
          requests:
            memory: "16Mi" 
            cpu: "50m"    
          limits:
            memory: "128Mi"  
            cpu: "100m"
        livenessProbe:
          httpGet:
            path: /healthz
            port: 80
          initialDelaySeconds: 0
          periodSeconds: 10
          timeoutSeconds: 1
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /ready
            port: 80
          successThreshold: 3
        volumeMounts:
        - mountPath: /cache
          name: cache-volume
      volumes:
      - name: cache-volume
        emptyDir:
          sizeLimit: 500Mi   

